@use '../utils/utils' as *;

.container {
    width: 100%;
    max-width: $base-width;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    @include screen('desktop') {
        grid-template-columns: repeat(2, 500px);
        gap: 12.8rem;
        align-items: center;
    }
    // Item Details
    .company-name {
        letter-spacing: 1.85px;
        text-transform: uppercase;
        font-size: getFont('xs');
        font-weight: getFont('bold');
        margin-bottom: 1.6rem;
        @include screen("tablet") {
            font-size: getFont('sm');
        }
    }
    .item-heading {
        color: getColor('heading');
        font-size: getFont("2xl");
        margin-bottom: 1.6rem;
        @include screen("tablet") {
            font-size: getFont('3xl');
        }
    }
    .item-desc {
        line-height: 1.7;
        margin-bottom: 3.2rem;
    }
    .current-price-container {
        @include flex(flex-start);
        gap: 1.6rem;
        .price {
            color: getColor('heading');
            font-weight: getFont('bold');
            font-size: getFont('2xl');
        }
        .discount-label {
            padding: 0.3rem 1rem;
            border-radius: 8px;
            background-color: getColor('grey-950');
            color: getColor('white');
            margin-bottom: 0.4rem;
            font-weight: getFont('bold');
            font-size: getFont('lg')     
        }
    }
    .orginal-price {
        text-decoration: line-through;
        font-size: getFont('lg');
        font-weight: getFont('bold')
    }
     
    @include screen('tablet', max) {
        .price-container {
           @include flex(space-between);
        }
    }
     .price-container { 
        margin-bottom: 1.6rem;
     }

    // Order Input
    .input-group {
        background-color: getColor('input-bg');
        padding: 1.6rem 0.8rem;
        border-radius: $border-radius;
        max-height: 5.6rem;
        width: 100%;
        @include screen("desktop") {
            max-width: 16rem;      
        }
        @include flex(space-between);
        .minus, .plus {
            user-select: none;
            cursor: pointer;
            &:hover {
                $svg-btn-hover: brightness(0) saturate(100%) invert(87%) sepia(61%) saturate(4921%) hue-rotate(307deg) brightness(100%) contrast(99%);
                img {
                    filter: $svg-btn-hover;
                }
            }
        }
        .minus {
            margin-bottom: 5px;
        }
        .input-field {
            width: 300px;
            font-weight: getFont('bold');
            color: getColor('heading');
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            &[type=number] {
                -moz-appearance: textfield;
            }
        }
        .input-field, button {
            background-color: inherit;
            text-align: center;
            border: none;
            outline: none;
            width: 6rem;
        
        }
        
    }
}
.purchase-section {
    padding: 2rem;
}

.cart-adding {
    @include flex;
    @include screen("tablet", max) {
        flex-direction: column;
    }
    gap: 1.6rem;
}

.hidden {
    display: none;
}

.dark-focus {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}