@use '../utils/utils' as *;

$dark-svg-hover: brightness(0) saturate(100%) invert(12%) sepia(3%) saturate(1728%) hue-rotate(156deg) brightness(98%) contrast(98%);


// full nav bar
.nav-container {
    width: 100%;
    max-width: $base-width;
    
    @include flex(space-between);
    @include BaseSideSpacing;
    @include screen("tablet"){
        border-bottom: 2px solid getColor("grey-100");
        padding-bottom: 3.2rem;
        margin-bottom: 1.8rem;
    }
    // User Cart and Profile Avatar
    .user-nav {
        @include flex(space-between);
        gap: 2.4rem;
    
        img {
            height: 24px;
            &.avatar {
                @include screen("tablet") {
                height: 50px;
                transition: border-color 0.3s ease;
                }
                &:hover {
                    cursor: pointer;
                    outline: 2px solid getColor('primary');
                    border-radius: 50%;
                }
            }
            &.cart-img {
                position: relative;
                user-select: none;
                $svg-cart: brightness(0) saturate(100%) invert(46%) sepia(4%) saturate(1109%) hue-rotate(176deg) brightness(92%) contrast(93%);
                filter: $svg-cart;
                &:hover, &.active {
                    filter: $dark-svg-hover;
                    cursor: pointer;
                }
            }
        }
        @include screen ("tablet") {
            gap: 4.8rem;
      
        }
    }
    // Page navigation links container + Logo
    .main-nav {
        @include flex;
        gap: 1.6rem;
        .menu-btn {
            user-select: none;
            $svg-menu: brightness(0) saturate(100%) invert(46%) sepia(4%) saturate(1109%) hue-rotate(176deg) brightness(92%) contrast(93%);
            $svg-menu-hover: brightness(0) saturate(100%) invert(65%) sepia(47%) saturate(5042%) hue-rotate(348deg) brightness(102%) contrast(100%);
            margin-top: 0.8rem;
            filter: $svg-menu;
            &:hover {
                cursor: pointer;
                filter: $svg-menu-hover;
            }
        }
        @include screen("desktop") {
            gap: 4.8rem;
            .menu-btn {
                display: none;
            }
        }
    }
    // navigation links
    .nav-links {
        @include screen("desktop", max) {
            display: none;
            &.nav-expanded {
                @include flex(flex-start, column);
                padding: 2.4rem;
                align-items: flex-start;
                position: absolute;
                background-color: getColor('white');
                height: 100vh;
                width: 75%;
                top: 0;
                left: 0%;
                z-index: 1;
                color: getColor('heading');
                font-weight: getFont('bold');
                font-size: 1.8rem;
                gap: 1.2rem;
                @include screen("tablet") {
                    width: 40%;
                    padding: 4.8rem 8rem;
                }
                .close-btn {
                    margin-bottom: 3rem;
                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }
                .nav-item:hover {
                    color: getColor('primary')
                }
            }
        }
        @include flex(space-between);
        gap: 3.2rem;
        @include screen("desktop") {
            .nav-item{
             position: relative;
                &:hover {
                    color: getColor('grey-950');
                    &::after {
                        content: "";
                        position:absolute;
                        bottom: -47px;
                        left: 0;
                        width: 100%;
                        z-index: 1;
                        height: 0;
                        border-bottom: 4px solid getColor('primary');  
                    }
            
                }
            }
        }
    }
}
.cart {
    position: static;
    @include screen("tablet") {
        position: relative;
    }
}
.cart-container {
    padding: 2.4rem;
    border-radius: $border-radius;
    background-color: getColor('bg');
    box-shadow: 0 0 2px getColor('grey-100');
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    width: 95%;
    z-index: 1;
    height: 256px;
    @include screen("tablet") {
        position: absolute;
        width: 360px;
        top: 50px;
        left: -5%;
        transform: translate(-60%);
    }
    .line {
        margin-left: -2.4rem;
        margin-right: -2.4rem;
        width: calc(100% + 4.8rem);
        border-bottom: 1px solid getColor('grey-100');
    }
    .cart-title {
        color: getColor('heading');
        margin-bottom: 2.3rem;
        font-size: getFont('lg');
    }

    .cart-content {
        @include flex(space-between);
        gap: 1.6rem;
        padding: 2.4rem 0;
        .cart-thumbnail {
            border-radius: 4px;
            width: 50px;
            height: 50px;
        }
        .cart-text {
            .total-price {
                color: getColor('grey-950');
                font-weight: getFont('bold'); 
                margin-left: 1ch;
            }      
        }
        .delete-btn {
            width: 14px;
            height: 16px;
            &:hover {
                cursor: pointer;  
                filter: $dark-svg-hover;
            }
        }
    }
    
}


.cart-quantity {
    position: absolute;
    top: 22px;
    right: 67px;
    background-color: getColor('primary');
    border-radius: 6.5px;
    width: 1.9rem;
    height: 1.3rem;
    font-size: 1rem;
    font-weight: getFont('bold');
    color: getColor('white');
    text-align: center;
    @include screen("tablet") {
        top: -2px;
        right: -5px;
    }
}
#emptyCart {
    text-align: center;
    padding-top: 17.5%;
    @include screen("tablet") {
        padding-top: 25%;
    }
}