@use '../utils/utils' as *;
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 768px;
    .thumbnails-container {
        display: none;
    }
    .slideImg {
        img {
            width: 100%;
             @include screen('desktop', max) {
                height: 300px;
                object-fit:cover;
                &#product-1 {
                    object-position: 20% 65%; 
                }
                &#product-2 {
                    object-position: 20% 0%;
                }
                &#product-3 {
                    object-position: 20% 10%;
                }
                &#product-4 {
                    object-position: 20% 32%;
                }
            }
            @include screen('tablet') {
                border-radius: 15px;
               
            }
        }
    }
    @include carouselButton;
  
    .slide {
        animation-name: fade;
        animation-duration: 0.4s;
    }
     @include screen("tablet") {
        @include BaseSideSpacing;
        .next  {
            right: 20px;
        }
        .slideImg img {
            width: 100%
        }
    }
    @include screen("desktop") {
        .next, .prev {
            display: none;
        }
        .slideImg img {
            max-width: 450px;
            height: 100%;
            cursor: pointer;
        }
        .thumbnails-container {
            @include carouselThumbnails;
        }
    }
  
    
}

@keyframes fade {
    from {
        opacity: 0.3;

    }
    to {
        opacity: 1;
    }
}

.carousel-expanded {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 550px;
    
    .expanded-slideImg {
       img {
         width: 100%;
        border-radius: 15px;
       }
    }
    @include carouselButton;
    .next, .prev {
        top: 40%;
    }
    .next {
        right: -40px;
    }
    .prev {
        left: -40px;
    }
    .expanded-thumbnails-container {
        @include carouselThumbnails;
        margin-left: 5rem;
    }
    .closeBtn {
        float: right;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(104%) contrast(101%);
        margin-bottom: 2rem;
        width: 20px;
        &:hover {
            cursor: pointer;
            $svg-hover:  brightness(0) saturate(100%) invert(65%) sepia(47%) saturate(5042%) hue-rotate(348deg) brightness(102%) contrast(100%);
            filter: $svg-hover;
        }
    }
}