@use '../utils/utils' as *;
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 768px;
    .thumbnails-container {
        display: none;
    }
    .slideImg {
        img {
            width: 100%;
             @include screen('desktop', max) {
                height: 300px;
                object-fit:cover;
                &#product-1 {
                    object-position: 20% 65%; 
                }
                &#product-2 {
                    object-position: 20% 0%;
                }
                &#product-3 {
                    object-position: 20% 10%;
                }
                &#product-4 {
                    object-position: 20% 32%;
                }
            }
            @include screen('tablet') {
                border-radius: 15px;
               
            }
        }
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -22px;
        $buttonMargin: 2.2rem;
        margin-left: $buttonMargin;
        margin-right: $buttonMargin;
        background-color: getColor("white");
        border-radius: 50%;
        user-select: none;
        img {
            position: absolute;
            top: 10px;
            right: 15px;
        }
        &:hover {
           img {
            $svg-hover:  brightness(0) saturate(100%) invert(65%) sepia(47%) saturate(5042%) hue-rotate(348deg) brightness(102%) contrast(100%);
            filter: $svg-hover;
           }
        }
    }
    .next {
        right: 0;
        img {
            right: 12px;
        }
    }
    .slide {
        animation-name: fade;
        animation-duration: 0.4s;
    }
     @include screen("tablet") {
        @include BaseSideSpacing;
        .next  {
            right: 20px;
        }
        .slideImg img {
            width: 100%
        }
    }
    @include screen("desktop") {
        .next, .prev {
            display: none;
        }
        .slideImg img {
            max-width: 450px;
            height: 100%;
        }
        .thumbnails-container {
            margin-top: 3.2rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            max-width: 200px;
            gap: 32px;
            .image-thumbnail {
                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
                &.active {
                    outline: 2px solid getColor("primary");
                    border-radius: 10px;
                }
                
                img {
                    border-radius: 10px;
                    width: 88px;
                    height: 100%;
                }
            }
        }
    }
  
    
}

@keyframes fade {
    from {
        opacity: 0.3;

    }
    to {
        opacity: 1;
    }
}
