@use "sass:map";
@use './variables' as *;

@mixin screen($screenSize, $minMax: min) {
    @media (#{$minMax}-width: map.get($breakpoints, $screenSize)) {
        @content;
    }
}

@mixin flex($jusifty: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jusifty;
    align-items: center;
}

@mixin basePadding {
    padding: 2.4rem;
    @include screen("tablet") {
        padding: 3rem 5rem;
    }
    @include screen("desktop") {
        padding: 3rem 12.5vw;
    }
}
