@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
  outline-offset: 3px;
}

input, button, textarea, select {
  font: inherit;
}

body {
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: hsl(219, 9%, 45%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

.nav-container {
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
}
@media (min-width: 768px) {
  .nav-container {
    padding: 3rem 5rem;
  }
}
@media (min-width: 1024px) {
  .nav-container {
    padding: 3rem 12.5vw;
  }
}
@media (min-width: 768px) {
  .nav-container {
    border-bottom: 2px solid hsl(219, 35%, 92%);
    padding-bottom: 3.2rem;
    margin-bottom: 4.8rem;
  }
}
.nav-container .user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}
.nav-container .user-nav img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 24px;
}
@media (min-width: 768px) {
  .nav-container .user-nav img.avatar {
    height: 50px;
    transition: border-color 0.3s ease;
  }
}
.nav-container .user-nav img.avatar:hover {
  cursor: pointer;
  outline: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}
.nav-container .user-nav img.cart {
  filter: brightness(0) saturate(100%) invert(46%) sepia(4%) saturate(1109%) hue-rotate(176deg) brightness(92%) contrast(93%);
}
.nav-container .user-nav img.cart:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(3%) saturate(1728%) hue-rotate(156deg) brightness(98%) contrast(98%);
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav-container .user-nav {
    gap: 4.8rem;
  }
}
.nav-container .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.nav-container .main-nav .menu-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 0.8rem;
  filter: brightness(0) saturate(100%) invert(46%) sepia(4%) saturate(1109%) hue-rotate(176deg) brightness(92%) contrast(93%);
}
.nav-container .main-nav .menu-btn:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(65%) sepia(47%) saturate(5042%) hue-rotate(348deg) brightness(102%) contrast(100%);
}
@media (min-width: 1024px) {
  .nav-container .main-nav {
    gap: 4.8rem;
  }
  .nav-container .main-nav .menu-btn {
    display: none;
  }
}
.nav-container .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
@media (max-width: 1024px) {
  .nav-container .nav-links {
    display: none;
  }
}

.carousel-container {
  max-width: 608px;
  position: relative;
  margin: auto;
}
.carousel-container .slideImg img {
  width: 100%;
}
@media (min-width: 768px) {
  .carousel-container .slideImg img {
    border-radius: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-container .slideImg img {
    height: 290px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 608px;
  }
  .carousel-container .slideImg img#product-1 {
    -o-object-position: 20% 65%;
       object-position: 20% 65%;
  }
  .carousel-container .slideImg img#product-2 {
    -o-object-position: 20% 0%;
       object-position: 20% 0%;
  }
  .carousel-container .slideImg img#product-3 {
    -o-object-position: 20% 10%;
       object-position: 20% 10%;
  }
  .carousel-container .slideImg img#product-4 {
    -o-object-position: 20% 32%;
       object-position: 20% 32%;
  }
}
.carousel-container .prev, .carousel-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -22px;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
  background-color: #fff;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.carousel-container .prev img, .carousel-container .next img {
  position: absolute;
  top: 10px;
  right: 15px;
}
.carousel-container .prev:hover img, .carousel-container .next:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(47%) saturate(5042%) hue-rotate(348deg) brightness(102%) contrast(100%);
}
.carousel-container .next {
  right: 0;
}
.carousel-container .next img {
  right: 12px;
}
.carousel-container .slide {
  animation-name: slide, snap;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}/*# sourceMappingURL=styles.css.map */